<div>
    <form action='/users/homepage'>
        <button
        class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded"
        >Back to homepage!</button>
    </form>
    <form action="/users/logout", method="POST", id="logoutForm">
        <button
        class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded"
        >Logout</button>
    </form>
</div>