<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{*}SNWBL - Create Project</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div>
        <h1 style="margin-bottom: 0; font-size:80px;">{*}SNWBL</h1>
        <h3 style="margin-top:0; margin-left: 105px;">Practice. Learn. Grow. Teach.</h3>
    </div>
    <% console.log(session) %>
    <% if (session.role === 1) { %>
        
    <div>
        <form id="createProjectForm" action="/projects/create" method="POST">
            <div>
                <label for="proj_name">Project Name:</label>
                <input id="proj_name" name="name" type="text" required>
            </div>
            <div>
                <label for="proj_desc">Description:</label>
                <input id="proj_desc" name="description" type="text" required>
            </div>
            <div>
                <label for="difficulty">Difficulty:</label>
                <input id="difficulty" name="difficulty" type="number" required>
            </div>
        </form>
        <button form="createProjectForm">Submit</button>
    </div>
    <% } else { %>
    <div>
        <h4>403 - Access Denied</h4>
        <h6>Admin Access Required to Create Projects</h6>
    </div>
    <% } %>
</body>
</html>