<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{*}SNWBL - Homepage</title>
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css">
    <script src="/js/listeners.js" defer></script>
</head>
<body class="bg-gradient-to-r from-gray-500 via-white to-gray-500">
    <div >
        <div class="italic text-center">
            <h1 class="font-bold text-6xl">{*}SNWBL</h1>
            <h3 class="font-thin text-base">Practice. Learn. Grow. Teach.</h3>
            <% if(session.role === 1) { %>
                <h5 class="font-extrabold">ADMIN PAGE</h5>
            <% } %>
        </div>
        <div class="flex justify-center">
            <% if(session.isLoggedIn === true){ %>
                <% if(session.role === 1) { %>                                                                            
                    <input type="button" 
                    id="newProjectAdmin"
                    value='Create New Project Idea!'
                    class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded" />

                    <input type="button"
                    id="viewProjects"
                    value="View All Projects"
                    class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded" />

                    <input type="button"
                    id="viewOpenProjects"
                    value="View All Open Projects"
                    class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded" />
                    
                    <input type="button"
                    id="viewUsers"
                    value="View All Users"
                    class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded" />
                    
                <% } else { %>
                    <input type=button 
                    id="newProjectUser"
                    value='Generate a New Project!'
                    class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded" />

                    <input type=button 
                        id="uploadProject"
                        value='Upload Your Project'
                        class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded" />

                    <input type=button 
                        id="patchProject"
                        onClick="location.href='patch.html'" 
                        value='Patch Your Project'
                        class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded" />

                    <input type=button 
                        id="viewProjects"
                        onClick="location.href='view.html'" 
                        value='View Other Projects'
                        class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded" />
                <% } %>  
                <form action="/users/logout", method="POST", id="logoutForm">
                    <button
                    class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded"
                    >Logout</button>
                </form>
            <% } else {%>
                <h1>You must be logged in to view this!</h1>
                <form action='/' method="GET">
                    <button
                    class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded"
                    >Go To Login Page</button>
                </form>
            <% } %>
            
        </div>
    </div>
</body>
</html>