<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{*}SNWBL - Homepage</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div>
        <div>
            <h1 style="margin-bottom: 0; font-size:30px;">{*}SNWBL</h1>
            <h3 style="margin-top:0; margin-left: 30px;">Practice. Learn. Grow. Teach.</h3>
            <% if(session.role === 1) { %>
                <h5>ADMIN PAGE</h5>
            <% } %>
        </div>
        <div>
            <% if(session.role === 1 && session.isLoggedIn === true) { %>                                                                            
                <input type=button 
                onClick="location.href='/projects/create'" 
                value='Create New Project Idea!'
                class="options" />

                <input type="button" 
                onClick="location.href='/projects/getAllProjects'"
                value="View All Projects"
                class="options" />

                <input type="button"
                onClick="location.href='/openProjects/getAllOpenProjects'"
                value="View All Open Projects"
                class="options" />
                
                <input type="button"
                onClick="location.href='/users/getUsers'"
                value="View All Users"
                class="options" />
                
                <% } else { %>
                    <input type=button 
                    onClick="location.href='new.html'" 
                    value='Generate a New Project!'
                    class="options" />

                    <input type=button 
                        onClick="location.href='upload.html'" 
                        value='Upload Your Project'
                        class="options" />

                    <input type=button 
                        onClick="location.href='patch.html'" 
                        value='Patch Your Project'
                        class="options" />

                    <input type=button 
                        onClick="location.href='view.html'" 
                        value='View Other Projects'
                        class="options" />
            <% } %>  

            <form action="/users/logout", method="POST", id="logoutForm">
                <button>Logout</button>
            </form>
        </div>
    </div>
</body>
</html>