<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{*}SNWBL - Home</title>
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css">
</head>
<body class="bg-gradient-to-r from-gray-500 via-white to-gray-500">
    <div>
        <%- include('partials/header.ejs') %>
        <div class="flex justify-center my-10 space-x-6">
        <form action="/login" method="GET">
            <button
                class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded"
            >Login</button>
        </form>
         
        <form action="/register" method="GET">
            <button
                class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded"
            >Register</button>
        </form>
        
        </div>
    </div>
</body>
</html>