



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{*}SNWBL - Login</title>
    <link rel="stylesheet" href="/css/tailwind.css">
    <script src='/js/helper.js' defer>
        
    </script>
</head>
<body class="bg-gradient-to-r from-gray-500 via-white to-gray-500">
        <div class="italic text-center">
            <h1 class="font-bold text-6xl">{*}SNWBL</h1>
            <h3 class="font-thin text-base">Practice. Learn. Grow. Teach.</h3>
        </div>
    <div class="flex flex-col">
        <!-- action="/users/login" method="POST" -->
        <form id="loginForm" class="md:w-1/2 mx-auto">
            <div class="flex space-y-3">
                <label for="email" class="w-20 text-right mr-6 m2">Email Address:</label>
                <input id="email" name="email" type="email" class="flex-1" required>
            </div>
            <div class="flex space-y-3">
                <label for="password" class="w-20 text-right mr-6 m2">Password:</label>
                <input id="password" name="password" type="password" class="flex-1" required>
            </div>
            <button
                class="justify-self-center bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded"
                >Submit</button>
        </form>
        <p class="error"></p>
    </div>
</body>
</html>