<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{*}SNWBL - Upload Project</title>
    <link rel="stylesheet" href="/css/tailwind.css">
    <script src="/js/helper.js" defer></script>
</head>
<body class="bg-gradient-to-r from-gray-500 via-white to-gray-500">
    <%- include('partials/header.ejs') %>
    <div>
        <% if(session.isLoggedIn === true) { %>
            <% if(session.userID === author) { %>
                <form id='uploadForm'>
                    <input type="file" name="file" />
                    <button 
                    id='submitCode'
                    type="submit"
                    value="<%= openID %>"
                    class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded content-center"
                    >Upload your code!</button>
                </form>
                <p class="error"></p>
             <% } else { %>
                <h1>You aren't allowed to upload to a project that isnt yours!</h1>
                <form action='/users/homepage'>
                    <button
                    class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded"
                    >Back to homepage!</button>
                </form>
           <% } %>
            
        <% } else { %>
            <h1>You Must be logged in to view this!</h1>
            <form action='/' method="GET">
                <button
                class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded"
                >Go To Login Page</button>
            </form>
        <% } %>
    </div>
</body>
</html>