body {
    background: linear-gradient(to bottom, #808080 0%, #1a1a1a 100%) fixed;
}

.scrollable {
    margin: 5px;
    padding: 5px;
    font-size: 1vw;
    overflow: auto;
    text-align: justify;
}